# Database
# If not using docker, set DATABASE_URL to hosted postgres url and ignore the other database variables.
DATABASE_URL="postgresql://tablecn:securepassword@localhost:5432/tablecn"

DATABASE_HOST="localhost"
DATABASE_USER="tablecn"
DATABASE_PASSWORD="securepassword"
DATABASE_NAME="tablecn"
DATABASE_PORT="5432"
